<div class="sidebar">
  <div class="sidebar-top">
    <div class="logo">🐦 Crow</div>

    <a href="/" class="nav-item {% if request.path == '/' %}active{% endif %}">
      <i class="fa-solid fa-house"></i> Home
    </a>

    <a href="/explore" class="nav-item">
      <i class="fa-solid fa-compass"></i> Explore
    </a>

    <a href="/create/" class="nav-create">
      <i class="fa-solid fa-circle-plus"></i> Create Post
    </a>
  </div>

  <div class="sidebar-bottom">
    {% if user.is_authenticated %}
    <a href="/profile" class="nav-item">
      <i class="fa-solid fa-user"></i> Profile
    </a>

    <a href="/logout" class="nav-item logout">
      <i class="fa-solid fa-right-from-bracket"></i> Logout
    </a>
    {% else %}
    <a href="/login" class="nav-item">
      <i class="fa-solid fa-right-to-bracket"></i> Login
    </a>
    {% endif %}
  </div>
</div>
